---
  
import BaseLayout from '../../layouts/BaseLayout.astro';

// 标签页实现详细说明请参考 /guides/tag-page-implementation-guide
export async function getStaticPaths(){
  
    const allPosts = Object.values(import.meta.glob('../posts/*.md', { eager: true }));
 const uniqueTags = [...new Set(allPosts.map((post: any) => post.frontmatter.tags).flat())];
   return uniqueTags.map((tag) => {
    const filteredPosts = allPosts.filter((post: any) => post.frontmatter.tags.includes(tag));
    return {
      params: { tag },
      props: { posts: filteredPosts },
    };
   
});
}
const {tag} = Astro.params;
const { posts } = Astro.props;




const filteredPosts = posts.filter((posts:any)=> posts.frontmatter.tags && posts.frontmatter.tags.includes(tag));


---
<BaseLayout pageTitle={tag}>
  <p>包含「{tag}」标签的文章</p>
    <ul>
    {filteredPosts.map((post: any) => <li><a href={post.url}>{post.frontmatter.title}</a></li>)}
  </ul>
</BaseLayout>
