---
import BaseLayout from './BaseLayout.astro';


// 获取Astro props
const props = Astro.props;
const frontmatter = props.frontmatter;
---


---
<BaseLayout pageTitle={frontmatter.title || '无标题'}>
  {frontmatter.description && <p><em>{frontmatter.description}</em></p>}
  {frontmatter.pubDate && <p>{frontmatter.pubDate.toString().slice(0,10)}</p>}

  {frontmatter.author && <p>作者：{frontmatter.author}</p>}

  {frontmatter.image && frontmatter.image.url && (
    <img src={frontmatter.image.url} width="300" alt={frontmatter.image.alt || ''} />
  )}

  {frontmatter.tags && frontmatter.tags.length > 0 && (
    <div class="tags">
      {frontmatter.tags.map((tag: string) => (
        <p class="tag"><a href={`/tags/${tag}`}>{tag}</a></p>
      ))}
    </div>
  )}
  <slot />

</BaseLayout>
<style>
  a {
    color: #00539F;
  }

  .tags {
    display: flex;
    flex-wrap: wrap;
  }

  .tag {
    margin-right: 10px;
    background-color: #eee;
    padding: 5px;
    border-radius: 3px;
  }
  
  .post-layout-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
  }
  
  .post-content {
    margin-top: 20px;
    line-height: 1.6;
  }
</style>
